<!doctype html>
<html lang="en">
  <head>
  	<title>Carousel 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
		<link rel="stylesheet" href="css/style.css">
  </head>
  <body>
		
		<section class="ftco-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h2 class="heading-section mb-5">About Us</h2>
					</div>
					<div class="col-md-12">
						<div class="featured-carousel owl-carousel">
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(images/work-1.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="desc w-100">
											<h2 class="mb-4">WE<br> Have Meds</h2>
											<p class="h5"></p>
											<p class="h5 mb-4"> </p>
											<div class="row justify-content-end">
												<div class="col-xl-8">
													<p>Membantu Anda Menjalani Hidup yang lebih sehat dan lebih baik, maka dari itu kami menyediakan banyak sekali jenis obat dan suplemen untuk anda. Kami juga memastikan bahwa stock obat tidak habis. setiap lorong adalah bagaimana kami berharap untuk membuat pengalaman belanja anda menjadi kesenangan sejati</p>
												</div>
											</div>
											<p>
												<button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Supermatket Boys</button>
												<button type="button" class="btn btn-dark mb-2 py-3 px-4">Meds Rack</button>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(images/food-1.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="py-md-5">
											<h2 class="mb-4">We <br> Serve Food</h2>
											<p class="h5">Call: 0812 7568 9965</p>
											<p class="h5 mb-4"></p>
											<div class="row justify-content-end">
												<div class="col-xl-8">
													<p>Membantu anda menjalani hidup yang lebih sehat dan lebih baik melalui makanan. Setiap hari anda mendapatkan yang terbaik dan makanan makanan yang lezat dari koki kami dengan bahan-bahan yang segar</p>
												</div>
											</div>
											<p>
												<button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Supermarket Boys</button>
												<button type="button" class="btn btn-dark mb-2 py-3 px-4">Food</button>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(images/drinks-1.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="py-md-5">
											<h2 class="mb-4">A <br> Lot Of Drinks</h2>
											<p class="h5"></p>
											<p class="h5 mb-4"></p>
											<div class="row justify-content-end">
												<div class="col-xl-8">
													<p>Kami menyediakan menyediakan minuman dari berbagai negara tidak termasuk alkohol, kami hanya menyediakan minuman non-alkohol</p>
												</div>
											</div>
											<p>
												<button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Supermarket Boys</button>
												<button type="button" class="btn btn-dark mb-2 py-3 px-4">Drinks</button>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work-wrap d-md-flex">
									<div class="img order-md-last" style="background-image: url(images/cashier-1.jpg);"></div>
									<div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
										<div class="py-md-5">
											<h2 class="mb-4">Fast <br> Transaction</h2>
											<p class="h5"></p>
											<p class="h5 mb-4"></p>
											<div class="row justify-content-end">
												<div class="col-xl-8">
													<p>Kami juga mempertimbangkan kenyamanan disaan anda berbelanja salah satunya adalah kami mempunyai banyak kasir, jadi anda tidak perlu lama untuk mengantri.</p>
												</div>
											</div>
											<p>
												<button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Supermarket Boys</button>
												<button type="button" class="btn btn-dark mb-2 py-3 px-4">Transaction</button>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>