<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Our Team #5</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">

      <h2 class="my-5 text-center">Our Team</h2>
      <div class="slider-92911">
        <div class="owl-carousel slide-one-item">

          <div class="d-md-flex testimony-29101 align-items-stretch">
            <div class="image" style="background-image: url('images/fariz_1.jpg');"></div>
            <div class="text">
              <blockquote>
                <p>&ldquo;"Hallo! , Nama saya Muhammad Fariz Bintang. Saya lahir di Pekanbaru, 29 September 2001. Motto Hidup saya adalah Hiduplah dengan nyaman, Jangan selalu mengganggu hidup orang lain jika ingin hidupmu nyaman"&rdquo;</p>

                <div class="author">&mdash; Muhammad Fariz Bintang</div>
              </blockquote>
            </div>
          </div>  <!-- .item -->

          <div class="d-md-flex testimony-29101 align-items-stretch">
            <div class="image" style="background-image: url('images/taufuik_1.jpg');"></div>
            <div class="text">
              <blockquote>
                <p>&ldquo;"Hallo! , Nama saya Taufiq Al Azhar. Saya lahir di Pekanbaru, 10 Agustus 2002. Motto Hidup saya adalah Mula-mula, kau harus mengubah dirimu sendiri, atau tak akan ada yang berubah untukmu"&rdquo;</p>

                <div class="author">&mdash; Taufiq Al Azhar</div>
              </blockquote>
            </div>
          </div>  <!-- .item -->

          <div class="d-md-flex testimony-29101 align-items-stretch">
            <div class="image" style="background-image: url('images/almun_1.jpeg');"></div>
            <div class="text">
              <blockquote>
                <p>&ldquo;"Hallo! , Nama saya Ahmad Ali Munawar. Saya lahir di Medan, 7 Agustus 2001. Motto Hidup saya adalah Makin kamu tahu siapa dirimu dan apa yang kamu inginkan, makin sedikit kamu membiarkan hal-hal membuatmu kesal"&rdquo;</p>

                <div class="author">&mdash; Ahmad Ali Munawar</div>
              </blockquote>
            </div>
          </div>  <!-- .item -->

          <div class="d-md-flex testimony-29101 align-items-stretch">
            <div class="image" style="background-image: url('images/galih_1.jpg');"></div>
            <div class="text">
              <blockquote>
                <p>&ldquo;"Wasapp gaess!, Saya Galih Ihsan Maheswara. Lahir di Dumai, 1 Agustus 2001. Motto Jidup saya adalah “Hope is what makes us strong. It is why we are here. It is what we fight with when all else is lost.” "&rdquo;</p>

                <div class="author">&mdash; Galih ihsan Maheswara</div>
              </blockquote>
            </div>
          </div>  <!-- .item -->
            

        </div>
      
        <div class="my-5 text-center">
          <ul class="thumbnail">
            <li class="active"><a href="#"><img src="images/fariz_1_sm.jpg" alt="Image" class="img-fluid"></a></li>
            <li><a href="#"><img src="images/taufuik_1_sm.jpg" alt="Image" class="img-fluid"></a></li>
            <li><a href="#"><img src="images/almun_1_sm.jpeg" alt="Image" class="img-fluid"></a></li>
            <li><a href="#"><img src="images/galih_1_sm.jpg" alt="Image" class="img-fluid"></a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>